* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

/* Links */

a {
   
    text-decoration: none;
}
#logolink{
    color:#00a082;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginlink{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color:#00a082 ;
    padding: 1px;
    height: 40px;
    width: 110px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 700;
    font-family: Helvetica, Arial, Arial, Helvetica, sans-serif;
}

.loginlink p {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
}

#logolink img {
    height: 36px;
}

.home{
    width: 100vw;
    /* background-image: url(wave\ \(1\).png); */
    /* height: 70vh; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center bottom; */
    border-image: url(wave\ \(1\).png);
    border-image-width: 0 0 10px 0;
    border-image-repeat: stretch;
}



header {
    width: 100%;
    background-color: #ffc244;
    position: fixed;
    /* position: sticky; */
    top: 0;
    z-index: 1;
    padding: 1rem;
}


header #navbar {
    padding: 20px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #ffb928; */
    /* position: -webkit-sticky; /* Safari */
    /* position: sticky;
    top: 0; */ 
}

#main-page {
    height: 65vh;
    background-color: #ffc244;
    padding-top: 160px;
}

.home-section {
    margin: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.signup {
    background-color: #00a082;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.btn.signup:hover {
    background-color: #009624;
}

.home-content {
    max-width: 600px;
    align-self: center;
}

.home-content h1 {
    font-size: 60px;
    margin-bottom: 2.7rem;
    color: 000000FF;
    line-height: 1;
}

.home-content .p1 {
    font-size: 22px;
    margin: 20px 0 0 0;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding:4px 6px;
    border-radius: 8px;
  
}
.mobilecurrent-address{
    display: none;
}
.outerform{
    padding:4px 8px;
    border-radius: 8px;
    background-color: #fff;
    width: 530px;
}
.enter{
    display: flex;
    flex-direction: row;
    

}
 
.current-address{
    /* width: 250px; */
    padding: 6px;
    background-color: hsla(120, 100%, 85%, 0.3);
    display: flex;
    justify-content: center;
    border-radius: 16px;
 
}


.form h3 {
    color: #00846b;
    font-size: 16px;
    
  

}
.form p{
    font-size: 18px;
    color: #333;
    padding-left: 20px;
    padding-right: 36px;
    word-wrap: none;

}
.locate-logo{
   padding-left: 10px;
   color: #333;
   font-size: 28px;
}

.bottom-hero img {
    width: 100vw;
}

#main-page{
    display: flex;
    justify-content: center; 
    align-content: center;
    align-items: center;
}

.main-animate{
    align-self: center;
    width: 100%;
}

.main-animate video {
    width: 100%;
}

/* #sect2-grid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

#sect2-grid img{
    max-width: 128px;
   border-start-end-radius: 920px;
   border-start-start-radius: 920px;
   border-end-end-radius: 1000px;
   border-end-start-radius: 1300px;
   aspect-ratio: 1;
   object-fit: cover;

}
#sect2-grid{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,208px));
    margin: 12px;
    padding-left: 7.5%;
    padding-right: 7.5%;
    width: 100%;
    grid-gap: 64px 32px;
    gap: 64px 32px;
    justify-content: center;
    align-items: center;
}
/* #sect2{
    display: flex;
    flex-direction: column;
    
} */

#sect2 h1{
    display: flex;
    justify-content: center;
    padding-bottom: 48px;
    padding-top: 48px;
    color: black;
    font-size: 40px;
    font-weight: 700;
}
#sect2 h2{
    color: #000000ff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    word-wrap: break-word;
    background-color: #ffc244;
    display: inline;
    padding: 4px 12px;
    border-radius: 8px;
    margin-top: -10px;
}

.restaurant{
    cursor: pointer;
    max-width: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sect2border{
    display: none;
}
#sect-3 h1{
    justify-content: center;
    text-align: center;
    margin-bottom: 48px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}

.flex3{
    display: flex;
    justify-content: center;
    align-content: center;
    /* padding-left: 120px;
    padding-right: 120px; */
    word-wrap: break-word;
    margin: 0 auto;
}

.sect-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-bottom: 68px;
    margin-top: 100px;
}

.sect-3-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    padding: 0 14px;
}

.sect-3-grid p {
    margin: 0;
    line-height: 20px;
}

.sect-3 img{
    max-width: 170px;
}

.sect-3-link a{
    color: #fff;

    font-size: 18px;
    font-weight: 700;
  
}
.sect-3-link{
    background-color: #00a082;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 40px;
    border-radius: 48px;
    border: none;
    margin-top: 32px;
   
}
.sect-3-link:hover{
    background-color: #006653FF;
}
#sect-3-linkmobile .sect-3-link{
    display: none;
}


.sect-4 {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc244;
}

.borrrdtop img {
    margin-bottom: -8px;
}

.flex-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.flex4-head h1 {
    margin: 15px 0 20px;
    font-size: 48px;
    margin-bottom: 50px;
}

.flex4-body {
    max-width: 1000px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.indv-count {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 24px;
    margin: 6px 8px;
    border-radius: 20px;
    background-color: #FFF3DAFF;
}

.sect4border img {
    width: 100%;
}

#sect-5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sect5main {
    width: 100%;
    display: flex;
   align-content: center;
}

.sect5content {
    position: relative;
    left: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 90px;
}


.app-image img{
    max-width: 600px;   
}
.app-image{
    /* flex: 0 1 50%;
    overflow: hidden; */
    z-index: -1;
    position: absolute;
    right: 120px;
}
.download{
    display: flex;
    justify-content: space-between;
}
.appstore{
    padding-right: 15px;
}
#sect-5 h1{
    font-weight: 700;
    font-size: 42px;
    margin-top: 5px;
    margin-bottom: 12px;
    line-height: 1.2;
}
#sect-5 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 48px;
}

.sect6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 120px;
    /* padding-left: 7.5%;
    padding-right: 7.5%; */
    margin-bottom: 68px;
    margin-top: 200px;
    background-color: #E9F8F5FF;
}

.flex6{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    word-wrap: break-word;
    margin: 0 auto;
}

.flex6 img{
    max-width: 270px;
    display: block;
    height: auto;
    width: 100%;
    aspect-ratio: 1.1545454545;
}

.sect6 h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    word-wrap: anywhere;
    margin: 24px 0;
}
.sect6-content{
    margin-bottom: 24px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.flex6 h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-top: 24px ;
}
.flex6 p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    text-align: center;
}
.flex6 a{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.sect6-register{
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 35px;
    background-color: #00a082;
    width: 180px;
    margin-top: 32px;
    margin-bottom: 200px;
}

.sect6-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
    text-align: center;
}
/* .register{
    background-color: #00a082;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 12px;
    border-radius: 48px;
    border: none;
    margin-top: 32px;
    margin-bottom: 260px;
} */
.sect6-register:hover{
    background-color: #006653FF;
}

.sect6bordmobile{
    display: none;
}
.sect6border img {
    width: 100%;
}
.sect6mobilewave img{
    display: none;
}
.bordertop img {
    margin-bottom: -350px;
}
.heading-img{
    margin-bottom: -390px;
    /* align-content: center;
    justify-content: center; */

}
.heading-img img{
    /* justify-content: center; */
    position: relative;
    /* max-width: 100px; */
    margin-left: 50%;
   
} 
 .sect6bord{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
 }
 footer{
    background-color:rgb(29, 29, 29);
 }
 .footer-list{
    display: grid;
    grid-auto-columns: minmax(120px, 200px);
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 16px 32px;
  
 }
 .foot{
    display: flex;
    flex-direction: column;
    text-align: center;
 }
 .foot1{
    display: flex;
    flex-direction: column;
    text-align: center;
 }
 .footer{
    display: flex ;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: calc(1124px + 15%);
    padding-bottom: 100px;
    padding-left: 7.5%;
    padding-right: 7.5%;
    width: 100%;
 }
 .footer a{
    color: #e4e4e4ff;
 }
 .footer-link{
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    margin:  4px 0 16px;
    text-decoration: none;
 }
 .footer h2{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
}
.footerborder img{
    width: 100%;
}

.borddertop{
    margin-bottom: -10px;
    margin-top: -180px;
}
.footlogo{
    aspect-ratio: 2.96875;
    cursor: pointer;
    height: auto;
    margin: 16px 0;
    max-width: 100px;
    width: 100%;
}

 