* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    color: #333;
}

/* Links */

a {
    color: black;
    text-decoration: none;
}

.home {
    width: 100%;
    background-image: url(wave\ \(1\).png);
    height: 148vh;
    background-size: cover;
}

header {
    width: 100%;
}

header #navbar {
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section {
    margin: 0 40px;
    height: 80vh;
    display: flex;
    /* justify-content: center; */ 
    align-items: center;
}

.btn.signup {
    background-color: #00c853;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.btn.signup:hover {
    background-color: #009624;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 48px;
    color: #333;
}

.home-content p {
    font-size: 18px;
    margin: 20px 0;
}

.location-form {
    display: flex;
    margin-top: 20px;
}

.location-form input[type="text"] {
    padding: 10px;
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

.location-form button {
    padding: 10px 20px;
    background-color: #00c853;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s;
}
.search-form button:hover {
    background-color: #009624;
}
