* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    color: #333;
}

/* Links */
a {
    color: black;
    text-decoration: none;
}
#nav-bar{
    background: black;
    color: #fff;
    overflow: auto;
}

/* #nav-head {
    display: flex;
    justify-content: space-between;
    background: url(/img/wave\ \(3\).png);

    /* background-color: #ffc244; */
    /* position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem 0;
} */ */

#nav-head .logo {
    margin-left: 2rem;
    font-size: 2rem;
}

#nav-head .log {
    margin-right: 2rem;
    background-color: #00a082;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

#logolink {
    color: #00A082FF;
}

.log a {
    color: white;
}

#icon1 {
    color: white;
}

/* #Homepage-sect {
    background-size: cover;
    min-height: 100vh;
    padding-top: 5rem; /* Ensure content is not hidden behind the navbar */
    /* position: relative;
    z-index1;: 
} */ 

/* #head-p {
    text-align: center;
    padding: 2rem;
    color: #000;
} */