@media (max-width: 1024px) {
    #main-page {
        height: fit-content;
        background-color: #ffc244;
        padding-top: 160px;
    }

    #main-page{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-content: center;
        align-items: center;
        text-align: center;
    }
    
    .main-animate video {
        width: 100%;
        max-width: 300px;
    }

    

    #sect-5 {
        position: sticky;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .sect5main {
        width: 100%;
        display: flex;
       align-content: center;
    }
    
    .sect5content {
        position: sticky;
        left: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }
    
    .app-image img  {
        max-width: 600px;   
    }

    .app-image {
        /* flex: 0 1 50%;
        overflow: hidden; */
        z-index: -100;
        position: relative;
        right: 0;
        top: -100px;
    }
}


@media (max-width: 600px) {
    #main-page{
        display: flex;
        flex-direction: column;
        padding-top: 150px;
        padding-bottom: 15px;
        align-items: center;
        background-clip: padding-box;
        justify-content: center;
        margin: 0 auto;
    }

    .bottom-hero{
        display: none;
    }

    .home-content h1{
        font-size: 42px;
        font-weight: 700;
        margin: 32px 0;
    }
    .mobileinput-icon{
        display: block;
    }

    .p1{
        display: none;
    }

    .current-address{
        display: none;
    }

    .outer-address{
        background-color: #E9F8F5FF;
        border-radius: 24px;
        margin-top: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        padding: 8px 16px;

    }

    .mobilecurrent-address{
        display: flex;
        justify-content: center;
        align-items: center;
     
        
    }

    .mobilecurrent-address h3{
        color: #017963;
        font-size: 15px;
        font-weight: 700;
    }

    .mobile-outeraddress{
        display: flex;
        justify-content: center;
    }
    .mobileinput-arrow{
        display: block;
    }

    #sect2{
        background-color: #ffc244;
    }

    #sect2 h1{
        padding-bottom: 12px;
        color: black;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        line-height: 1.4;
    }

    .mobilecaurousels {
        overflow: hidden;
    }

    .restaurantslink {
        width:  100%;
        overflow-x: scroll;
    }

    .mobilecaurousels ::-webkit-scrollbar {
        display: none;
    }

    #sect2-grid{
        display: flex;
        margin-bottom: 40px;
        justify-content: flex-start;
    }

    .sect2border img{
        width: 100%;
    }

    .sect2border{
        display: block;
    }

    #sect2 h2{
        background-color: #fff;
    }
    
    #sect-3 h1{
        display: none;
    }

    .flex3{
        display: flex;
        flex-direction: column;
        margin-top: -180px;
    }

    
    .sect-3-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        min-width: none;
        margin-bottom: 40px;
    }

    #sect-3-linkmobile .sect-3-link {
        display: inline-block;
    }

    #sect-3-linkmobile {
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
    }

    .sect-3-link {
        display: none;
    }

    .flex3 h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 8px;
        text-align: center;
        
    }
    
    .sect4border{
        display: none;
    }
    
    .sect-4 {
        z-index: 100;
        background-color: red;
        background: url(sect4border-wave.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #sect-5 {
        position: sticky;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .sect5main {
        width: 100%;
        display: flex;
       align-content: center;
    }
    
    .sect5content {
        position: sticky;
        left: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }
    
    .app-image img  {
        max-width: 600px;   
    }

    .app-image {
        /* flex: 0 1 50%;
        overflow: hidden; */
        z-index: -100;
        position: relative;
        right: 0;
        top: -100px;
    }

    .heading-img{
        margin-bottom: -398px;
        /* align-content: center;
        justify-content: center; */
    
    }
    
    .sect6border{
        display: none;
    }

    .sect6bordermobile {
        display: block;
        /* margin-bottom: -100px; */
        align-content: center;
    }
    
    .heading-img{
        margin-bottom: -400px;
        margin-left: -120px;
    }

    .flex6{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        word-wrap: break-word;
        margin: 0 auto;
    }

    .sect6{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 7.5%;
        padding-right: 7.5%;
        margin-bottom: 68px;
        margin-top: 200px;
        background-color: #E9F8F5FF;
    }

    .sect6-flex {
        min-width: none;
    }

    .footerborder img {
        display: none;
    }

    .footerborder2 img{
        display: block;
       width: 100%;
    }

    .borddertop2{
        margin-bottom: -5px;
        margin-top: -180px;
    }
}


@media (max-width: 600px) {

    .outerform{
        padding:4px 8px;
        border-radius: 8px;
        background-color: #fff;
        width: 100%;
    }

    .enter{
        display: flex;
        flex-direction: row;
    }

    .footer-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-auto-columns: minmax(120px, 200px);
        grid-auto-flow: column;
        justify-content: space-between;
        padding: 16px 32px;
    }

    .foot, .foot1 {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

/* .form{
    width: fit-content;
    align-self: center;
    display: flex;
    flex-direction: column;
    background: hidden;
}
.enter{
    background-color: #fff;

} */
/* .home-content{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    max-width: 548px;
    width: 100%;
    color: #000000ff;
    display: flex;
    flex-direction: column;
}
.home-content h1 {
    font-size: 40px;
    margin-bottom: 12px;
    color: 000000FF;
    line-height: 1;
}
.home-content .p1 {
    display: none;
}
.home-content h3{
    display: none;
} */